

/**** | Myopia Theme Settings | ****/

$w-br: 0; // Window Border Radius
$b-br: 0; // Button Border Radius

$h-size: 'compact'; // Headerbar size: 'compact' or 'default'

$bg: rgba( 22, 22, 22, 0.8); // Window Background
$o-bg: rgba( 24, 24, 24, 0.98); // Opaquer version of the Background
$h-bg: rgba(40, 40, 40, 0.8); // Headerbar Background
$d-bg: rgba(0, 0, 0, 0.5); // Dark Base - Not so important
$x-bg: rgba(255, 255, 255, 0.1); // Buttons, Entries, ... Background
$l-bg: rgba(255, 255, 255, 0.05); // List and Sidebar Background

$a-collor: rgba(255, 255, 255, 0.8);  // Accent Color
$sel: rgba(255, 255, 255, 0.3); // Selection Color
$hg: rgba(255, 255, 255, 0.15); // Highlight Color

$s-b: 0 0 0 0 #000, 0 0 0 1px rgba(0, 0, 0, 0.5); // Color of the simulated Window's second (dark) border
$l-b: 1px solid rgba(255, 255, 255, 0.15); // Light Borders
$d-b: 1px solid rgba(0, 0, 0, 0.5); // Dark Borders

/**** | Generate the css file | ****/

$variant: 'dark';

@import '../../Base/Scss-Files/colors';
@import '../../Base/Scss-Files/drawing';
@import '../../Base/Scss-Files/common';
@import '../../Base/Scss-Files/colors-public';

